{% extends "blog/base.html" %}
{% block content %}
    <h1>Thanks for checking out my website!</h1>
    <p>Hello, my name is Adam and I enjoy writing programs and building websites.  I also enjoy playing fantasy football.  The only problem is
      that I really don't follow football closely at all.  So when it comes to draft time I am generally as blind as a bat.  I usually print off the
      top 100 players and draft whomever the most highly ranked player is for whatever position I am choosing to fill.  I felt there had to be
      a better way to decide which position would be the next logical choice.</p>

    <p>Since I am a data analyst by profession I decided to write a program to assit me with just that.  This website is the result of what I have
      accomplished so far working in my spare time.  Unfortunatly, the process is slow going since I don't have a lot of spare time and I am still learning how
      to do all of this from scratch.</p>

    <p>While I am aware that the website is not fancy and doesn't have a lot of bells and whistles, it is functional and gets the job done.
      I am choosing to roll it out in the beginning stages to gain user feedback as to the type of enhancements that would help improve it's
      functionality.</p>

    <p>I plan to send out a survey later on in the season. So be on the look out for that.  Any feedback or suggestions you have to offer will
      be greatly appreciated and I will try to implement as many of them as I can for the next season.</p>

  <p>I hope that this website makes/made your draft a whole lot easier.</p>

  <p>Thanks,</p>

  <h4>Adam</h4>
{% endblock content %}
